<template name="QuotesEdit">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header pull-left">View/Edit {{docType}}</h1>
            {{#if quotesPage}}
                {{#unless invoiced}}
                    <button class="btn-primary btn pull-right" id="invoice">Invoice</button>
                {{else}}
                    <button class="btn-primary btn pull-right" id="viewInvoice">View Invoice</button>
                {{/unless}}
            {{/if}}

            <button class="btn-primary btn pull-right" id="pdf">PDF</button>
            {{#unless account.email}}
                <button class="btn-primary btn pull-right" id="email" disabled="diabled" name="email">Email Client
                </button>
            {{else}}
                <button class="btn-primary btn pull-right" id="email" name="email">Email Client</button>
            {{/unless}}

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {{#if quoteInvoiced}}
        <div style="position:absolute;">
            <div style="position: relative;  background-image: url('/invoiced.png');  height: 550px; width: 900px; z-index: 999999;"></div>
        </div>
    {{/if}}

    <form method="post" id="quoteForm" action="#">
        <div class="row">

            <div class="col-lg-6">
            </div>
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Account Information
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Account Name</h4>
                                {{{ account.name }}}
                            </div>
                            <div class="col-lg-6">
                                <h4>Email</h4>
                                {{{ account.email }}}
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Phone</h4>
                                {{{ account.phone }}}
                            </div>
                            <div class="col-lg-6">
                                <h4>Phone 2</h4>
                                {{{ account.phone2 }}}
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Billing Address</h4>
                                {{{ account.billingAddress }}}

                            </div>
                            <div class="col-lg-6">
                                <h4>Shipping Address</h4>
                                {{{ account.shippingAddress }}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Fax</h4>
                                {{{ account.fax }}}
                            </div>
                            <div class="col-lg-6">

                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Line Items
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="lineItems">
                                    <thead>
                                    <tr>
                                        <th class="delete"></th>
                                        <th>Quantity</th>
                                        <th>Manufactuer #</th>
                                        <th>Unit Price</th>
                                        <th>Date Code</th>
                                        <th>Discount</th>
                                        <th class="col-lg-2">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each lineItems}}
                                        {{#if active}}
                                            {{> editLineItem}}
                                        {{else}}
                                            {{> showLineItem}}
                                        {{/if}}
                                    {{/each}}

                                    {{> newLineItem}}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Totals
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6"><strong>Subtotal</strong></div>
                                    <div class="col-lg-6"><span id="subtotal">{{formatCurrency quote.subtotal}}</span>
                                    </div>
                                </div>
                                <div class="row top5">
                                    <div class="col-lg-6"><strong>Shipping</strong></div>

                                    <div class="col-lg-6">
                                        <input type="text" class="input-xs col-lg-12 onChange" id="shipping"
                                               name="shipping" value="{{formatCurrency quote.shipping}}">
                                    </div>
                                </div>
                                <div class="row top5">
                                    <div class="col-lg-6"><strong>Total</strong></div>
                                    <div class="col-lg-6"><span id="total">{{formatCurrency quote.total}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </form>

</template>


<template name="newLineItem">
    <tr>
        <td></td>
        <td></td>
        <td>{{> inputAutocomplete settings=settings id="itemNumber" class="form-control" placeholder="Item Number"}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</template>

<template name="editLineItem">
    <tr>
        <td class="delete"><i class="fa fa-2x fa-minus-square-o text-danger"></i></td>
        <td><input type=text class="inputQty col-lg-12 onChange" data-id="qty" name=qty id=qty value="{{qty}}"></td>
        <td>{{itemNumber}}</td>
        <td><input type=text class="inputPrice col-lg-12 onChange" data-id="price" name=price id=price
                   value="{{price}}"></td>
        <td><input type=text class="inputDateCode col-lg-12" name=dateCode data-id="dateCode" id=dateCode
                   value="{{dateCode}}"></td>
        <td><input type=text class="inputDiscount col-lg-12 onChange" name=discount data-id="discount" id=discount
                   value="{{discount}}"></td>
        <td><span class=displayTotal id=total_1>{{formatCurrency lineItemTotal}}</span></td>
    </tr>
</template>


<template name="showLineItem">
    <tr>
        <td class="delete"><i class="fa fa-2x fa-minus-square-o text-danger"></i></td>
        <td>{{qty}}</td>
        <td>{{itemNumber}}</td>
        <td>{{formatCurrency price}}</td>
        <td>{{dateCode}}</td>
        <td>{{formatCurrency discount}}</td>
        <td><span class=displayTotal id=total_1>{{formatCurrency lineTotal}}</span></td>
    </tr>
</template>

<template name="itemNumber">
    <span class="label">{{itemNumber}}</span>
</template>

