<template name="_sideBar">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a class="active" href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/accounts"><i class="fa fa-tag fa-fw"></i> Accounts</a>
                </li>
                <li>
                    <a href="/contacts"><i class="fa fa-user fa-fw"></i> Contacts</a>
                </li>
                <li>
                    <a href="/quotes"><i class="fa fa-user fa-fw"></i> Quotes</a>
                </li>
                <li>
                    <a href="/manufacturers"><i class="fa fa-user fa-fw"></i> Manufacturers</a>
                </li>
                <li>
                    <a href="/products"><i class="fa fa-user fa-fw"></i> Products</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-gear"></i>
                        Settings
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">Users</a>
                        </li>
                        <li>
                            <a href="/settings/products">Products</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</template>