<template name="dashboard">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Quick Links
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>
                        <a href="/accounts" type="button" class="btn btn-primary btn-lg navbar-btn"><i class="fa fa-folder"> </i> Accounts</a>
                        <a href="/accounts/create" type="button" class="btn btn-primary btn-lg navbar-btn"><i class="fa fa-plus-square"> </i> Create Account</a>
                        <a href="/contacts" type="button" class="btn btn-primary btn-lg navbar-btn"><i class="fa fa-phone"></i> Contacts</a>
                        <a href="/contacts/create" type="button" class="btn btn-primary btn-lg navbar-btn"><i class="fa fa-plus-square"></i> Create Contact</a>
                        <a href="/quotes" type="button" class="btn btn-primary btn-lg navbar-btn"><i class="fa fa-paperclip"></i> Quotes</a>
                        <a href="/quotes/select" type="button" class="btn btn-primary btn-lg navbar-btn"><i class="fa fa-plus-square"></i> Create Quote</a>
                    </p>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Contacts
                </div>
                <!-- /.panel-heading -->

            </div>
            <!-- /.panel -->

        </div>

    </div>
    <!-- /.col-lg-4 -->

    <!-- /.row -->
</template>